<div class="row">
  <div class="col-xs-12 text-center">
    <h1>CSS Garden of Good and Evil</h1>
    <p>Choose your destiny, if you dare</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <form action="/update" method="post" class="form">
      <div class="form-check row text-center">
        {{#if isGood}}
        <div class="col-xs-3 col-xs-offset-3">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" checked="checked" name="goodOrEvil" value="good">
            Good
          </label>
        </div>
        <div class="col-xs-3 col-xs-offset-right-3">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="goodOrEvil" value="evil">
            Evil
          </label>
        </div>
        {{else}}
        <div class="col-xs-3 col-xs-offset-3">
          <label class="form-check-label">
            <input type="radio" class="form-check-input"  name="goodOrEvil" value="good">
            Good
          </label>
        </div>
        <div class="col-xs-3 col-xs-offset-right-3">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" checked="checked" name="goodOrEvil" value="evil">
            Evil
          </label>
        </div>
        {{/if}}
      </div>
      <div class="form-group row">
        <label for="favoriteFood" class="col-xs-4 col-form-label">Favorite Food</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" name="favoriteFood" value="{{favoriteFood}}" placeholder="Favorite Food">
        </div>
      </div>
      <div class="form-group row">
        <label for="favoriteColor" class="col-xs-4 col-form-label">Favorite color:</label>
        <div class="col-xs-8">
          <select class="form-control " default=" " name="favoriteColor">
            <option value="" disabled selected>Select your color</option>
            {{#if isRed}}
              <option selected='selected' value="red">Red</option>
            {{else}}
              <option value="red">Red</option>
            {{/if}}
            {{#if isBlue}}
              <option selected='selected' value="blue">Blue</option>
            {{else}}
              <option value="blue">Blue</option>
            {{/if}}
            {{#if isYellow}}
              <option selected='selected' value="yellow">Yellow</option>
            {{else}}
              <option value="yellow">Yellow</option>
            {{/if}}
            {{#if isGreen}}
              <option selected='selected' value="green">Green</option>
            {{else}}
              <option value="green">Green</option>
            {{/if}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="insanityLevel" class="col-xs-4 col-form-label">Insanity Level: {{insanityLevel}}</label>
        <div class="col-xs-8">
          <input type="range" name="insanityLevel" id="insanitySlider" min="0" max="666" value="{{insanityLevel}}">
          <p class="text-center"><span id="insanityLabel"></span></p>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-block submit">Submit</button>
        </div>
      </div>
      </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 left">

  </div>
  <div class="col-xs-6 right">
    <ul class="like-list">
      <li>
        <h6>Likes</6>
        <h3>Walking grandmothers across the street</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="{{favoriteColor}}">
    <br>

    <div class="likes-and-dislikes">
      <h4>Likes</h4>
      <div>
        <ul>
          <li>
            {{favoriteFood}}
          </li>
          <li>
            {{favoriteColor}}
          </li>
          {{#if isGood}}
            <li>
              Walking grandmothers across the street
            </li>
            <li>
              Random acts of kindness
            </li>
            <li>
              Long walks on the beach
            </li>
          {{else}}
            <li>
              Pushing grandfathers into the street
            </li>
            <li>
              Random acts of evil
            </li>
            <li>
              Global warming
            </li>
          {{/if}}
        </ul>
      </div>

      <br>

      <h4>Dislikes</h4>
      <div>
        <ul>
          {{#if isGood}}
            <li>
              Pranks / idleness
            </li>
            <li>
              Extremely spicy food
            </li>
            <li>
              Loud music after 11pm
            </li>
          {{else}}
            <li>
              Nonalcoholic beverages
            </li>
            <li>
              Sending thank you notes
            </li>
            <li>
              Babies
            </li>
          {{/if}}
        </ul>
      </div>
    </div>

    <br>

    <div class="biography">
      <h4>Biography:</h4>
      {{#if isGood}}
        <p>As a good person you were probably born and raised in South Detroit, and took the midnight train going anywhere.</p>
      {{else}}
        <p>As an evil person you were probably born and raised in Alaska where you made a living stealing the souls of innocent passersby.</p>
      {{/if}}
    </div>

    <br>

    <div class="resume">
      <h4>Current Position: <span>{{#if isGood}} Farmer {{else}} Hedge Fund Investor {{/if}}</span></h4>

      <br>

      <h4>Previous Positions:</h4>
      <ul>
        {{#if isGood}}
        <li>
          Schoolteacher
        </li>
        <li>
          Fire fighter
        </li>
        {{else}}
        <li>
          Attorney
        </li>
        <li>
          Software Developer
        </li>
        {{/if}}
      </ul>
    </div>
    </div>
  </div>
</div>
