<div class="row">
  <div class="col-xs-12">
    <h1>CSS Garden of Good and Evil</h1>
    <p>Choose your destiny, if you dare</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <form action="/update" method="post">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="goodOrEvil" value="good">
          Good
        </label>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="goodOrEvil" value="evil">
          Evil
        </label>
      </div>
      <div>
        <label for="favoriteFood">Favorite Food</label>
        <input type="text" class="form-control" name="favoriteFood" placeholder="Favorite Food">
      </div>
      <div class="form-group">
        <label for="favoriteColor">Favorite color:</label>
        <select class="form-control" name="favoriteColor">
          <option>Red</option>
          <option>Blue</option>
          <option>Yellow</option>
          <option>Green</option>
        </select>
      </div>
      <div>
        <label for="insanityLevel">Insanity Level: (currently at {{insanityLevel}})</label>
        <input type="range" name="insanityLevel" id="insanitySlider" min="0" max="666" value="{{insanityLevel}}">
        <p>Current value: <span id="insanityLabel">xxxx</span></p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div>
      <ul> Likes
        <li>
          {{favoriteFood}}
        </li>
        <li>
          {{favoriteColor}}
        </li>
        {{#if isGood}}
          <li>
            Walking grandmothers across the street
          </li>
          <li>
            Random acts of kindness
          </li>
          <li>
            Long walks on the beach
          </li>
        {{else}}
          <li>
            Pushing grandfathers into the street
          </li>
          <li>
            Random acts of evil
          </li>
          <li>
            Global warming
          </li>
        {{/if}}
      </ul>
      <ul> Dislikes
        {{#if isGood}}
          <li>
            Pranks / idleness
          </li>
          <li>
            Extremely spicy food
          </li>
          <li>
            Loud music after 11pm
          </li>
        {{else}}
          <li>
            Nonalcoholic beverages
          </li>
          <li>
            Sending thank you notes
          </li>
          <li>
            Babies
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>


